[colors]
bg = #000000
fg = #dcdcdc

d-grey = #333333
n-blue = #0000ff

l-grey = #d3d3d3
n-white = #eceff4

n-yellow = #ffff00
n-purple = #81a1c1
l-purple = #5e81ac

n-green = #61ce3c
n-red = #ff0000
n-orange = #ff6400
d-red = #8b0000

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 20
background = ${colors.bg}
foreground = ${colors.fg}
font-0 = NotoSans Nerd Font:style=bold:size=10;1
separator = "|"
separator-foreground = ${colors.n-blue}
module-margin = 1
modules-left = ewmh
modules-center = xwindow
modules-right = network volume cpu memory date time tray

[module/xwindow]
type = internal/xwindow
label = %instance%
label-maxlen = 50
label-empty = Empty
label-empty-foreground = #707880

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-background = ${colors.n-blue}
label-active-foreground = ${colors.l-grey}
label-occupied = " %name% "
label-occupied-background = ${colors.l-purple}
label-urgent = " %name% "
label-urgent-background = ${colors.n-orange}
label-urgent-foreground = ${colors.n-red}
label-empty = " %name% "
label-empty-foreground = ${colors.fg}

[module/date]
type = internal/date
date = " %a, %b %d "
format =  <label>

[module/time]
type = internal/date
date = "%H:%M"
format =  <label>

[module/memory]
interval = 1
format = <label>
format-prefix = 󱘲
label = " %mb_used%"

type = internal/memory
[module/cpu]
type = internal/cpu
interval = 0.5
format = <label>
format-prefix = 
label = " %percentage%%"

[module/volume]
type = internal/pulseaudio
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
format-volume = <ramp-volume> <label-volume>
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

[module/network]
type = internal/network
interface = enp6s0
interface-type = wired
accumulate-states = true
 
label-disconnected = "%{A1:networkmanager_dmenu &:} Disconnected%{A}"
format-disconnected-prefix = 
format-disconnected = <label-disconnected>

label-connected = "%{A1:networkmanager_dmenu &:} %linkspeed% 󱦳 %downspeed% 󱦲 %upspeed%%{A}"
format-connected-prefix = 
format-connected = <label-connected>

[module/tray]
type = internal/tray
tray-padding = 3px
